<h2 class="gray-title">Matérias da Ordem do Dia</h2>

{% for materia in lst_votacao%}
{% if forloop.first %}
<table class="grayTable" style="height: 145px;" width="443">
    <thead>
        <tr>
            <th style="width:15%">Matéria</th>
            <th style="width:60%">Ementa</th>
            <th style="width:25%">Status da Matéria</th>
        </tr>
    </thead>
    <tbody>
{% endif %}
    <tr>
        <td style="vertical-align:middle;">
            <dl>
                <dt><b>{{materia.num_ordem}} -</b> {{materia.id_materia}}</dt>
                <dt style="text-align: left;"><b>Quorum:</b> {{materia.des_turno}}</dt>
                <dt style="text-align: left;"><b>{{materia.num_autores}}: </b>{{materia.nom_autor}}</dt>
            </dl>
        </td>
        <td style="width:60%; vertical-align:middle;">
            <div style="margin:10px">
                {{materia.txt_ementa}}
                {% if materia.ordem_observacao %}<br><br>Obs.: {{materia.ordem_observacao}} {% endif %}
            </div>
        </td>
        <td style="text-align: center; vertical-align:middle;">
            &nbsp;{{materia.situacao}}
            <br><br>{{materia.votacao_observacao}}
        </td>
    </tr>
{% if forloop.last %}
    </tbody>
</table>
{% endif %}
{% endfor %}